<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destination</key>
	<string>export</string>
	<key>method</key>
	<string>app-store</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.canopas.splito</key>
		<string>c84367d3-9c3d-4b3f-8111-f9881ea768b3</string>
	</dict>
	<key>signingCertificate</key>
	<string>3B44E7174A268C68667CE39EFCB90DB6DEFD44C3</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>S985H2T7J8</string>
	<key>uploadSymbols</key>
	<true/>
</dict>
</plist>
